# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/workspace.xml
development/test/dateTest.php
development/test/image/skincare/2018/
development/test/index2.html
development/test/test.js
dist/development/20180314/
dist/development/js/
dist/development/old/
dist/development/test/
dist/digital_recipe2/
dist/dist/
