# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/workspace.xml
dist/development/20180314/
dist/development/js/
dist/development/old/
dist/development/test/
dist/digital_recipe2/
dist/dist/
