select{
	border: 0;
	border-bottom: 1px solid #666;
	appearance:none;
	background: url('../img/arrow.svg') right center no-repeat;
	background-size: 15px;
}
body{
	font-size: 12.6px;
}


body[page=preview_makeup] {
	#content .makeup .border{
		padding: 15px;
		.L{
			width: 500px;
			//height: 448px;

			.title{
				margin: 0 0 11px;
				width: 500px;
				height: 21px;
				line-height: 21px;
			}

			.theme{
				width: 500px;
				height: 25px;
				line-height: 25px;
				font-size: 1em;
				font-weight: bold;

				.theme_c{
					width: 465px;
					height: 25px;
					line-height: 25px;
					border-bottom: 1px solid #666;
				}
			}

			.makeup03{
				width: 500px;
				height: 314px;
				margin: 11px 0 0;

				.mL{
					width: 250px;
					background: url('../img/preview/makeup_mL_bg.png') center center no-repeat;
					background-size: 100%;
					height: inherit;
					position: relative;

					.wrap{
						width: 100%;
						position: absolute;
						bottom:0;
						left:0;

						.tip{
							width: 100%;
							height: 27px;
							line-height: 27px;
							background-color: rgba(255,255,255,0.7);
							border-bottom: 1px solid #666;
						}
					}
				}

				.mR{
					width: 250px;
					height: inherit;
				}
			}

			.suggest_title{
				width: 100%;
				height: 25px;
				line-height: 25px;
			}

			.suggest{
				width: 100%;
				height: 60px;
				border:1px solid #666;
				padding: 7px;
			}
		}

		.R{
			width: 288px;
			//height: 448px;
			//padding: 15px 15px 0px 0;

			.theme{
				width: 288px;
				height: 25px;
				line-height: 25px;
				margin: 0 auto 10px;
				font-size: 1em;
				font-weight: bold;

				.theme_c{
					width: 248px;
					height: 25px;
					line-height: 25px;
					border-bottom: 1px solid #666;
				}

				.dtl{
					margin-left: 10px;
					height: 25px;
					line-height: 25px;
					border-bottom: 1px solid #666;
					text-align: center;
				}
			}

			.makeup02{
				margin-top: 11px;
				.mL{
					width: 128px;
					height: 94px;
					//background-color:red;
				}

				.mR{
					width: 160px;
					height: 94px;
					//background-color: yellow;
				}
			}



			.blank{
				table{
					margin:0 auto 10px;
					width: 288px;

					tr{
						td{
							border:1px solid #666;
							height: 25px;
							line-height: 25px;
							padding: 0 5px;

							&:nth-child(3n-2){
								font-weight: bold;
							}
							&:nth-child(3){
								border: 0;
								width: 7px;
								padding: 0;
							}

							&:nth-child(3n-1){
								text-align: left;
							}


						}
					}

				}
			}

			table.form{
				margin: 10px auto;
				width: 288px;
				text-align: center;
				colgroup{
					col:nth-child(1){
						width: 73px;
					}
					col:nth-child(2){
						width: 34px;
					}
					col:nth-child(3){
						width: 90px;
					}
					col:nth-child(4){
						width: 91px;
					}
				}

				tr{
					height: 24px;
					line-height: 24px;

					&.title{
						font-weight: bold;

					}

					td{
						border: 1px solid #333;
						padding: 0 5px;
						vertical-align: middle;
						&:first-child{
							font-weight: bold;
							text-align: left;
						}

						input{
							text-align: center;
							font-size: 1em;
							font-weight: 100;
							outline: none;
							border:0;
							padding: 0;
						}

						select{
							background-color: #fff;
							appearance:none;
							background: url('../img/arrow.svg') right center no-repeat;
							background-size: 15px;
						}

					}
				}

				.water{
					td>div>div:nth-child(2n-1){
						text-align: center;
						display: inline-block;
						//width:45%;
						margin-left: 0px;
						//height: 25px;
						//line-height: 25px;
					}
				}

				.tension{
					td:nth-child(3), td:nth-child(4){
						font-size: 16px;
						padding: 0;
						>div:first-child{
							width: 22px;
							height: 24px;
							border-right: 1px solid #333;
							float: left;
							input{
								width: 100%;
							}
						}
						>div:nth-child(2){
							width: 68px;
							height: 24px;
							float: left;

							& :nth-child(1){ //select
								width: 26px;
								height: 24px;
								line-height: 24px;
								border:0;
								vertical-align: top;
								font-size: 1em;
							}
							& :nth-child(2){ //input
								margin-left: -2px;
								width: 42px;
								height: 24px;
								letter-spacing: 1px;
								input, span{
									width: 30px;
									margin-left: -2px;
									padding: 0;
									display: inline-block;
									text-align: center;

								}
							}
						}
					}
				}

				.opacity{
					td:nth-child(3), td:nth-child(4){
						padding: 0;
						>div:first-child{
							//width: 34px;
                            height: 13px; //border-right: 1px solid #333;
                            line-height: 13px;
                            vertical-align: middle;
                            //float: left;

						}
						>div:nth-child(2){
							//width: 93px;
                            height: 11px;
                            line-height: 11px;
                            vertical-align: top;
                            //float: left;

							& :nth-child(1){ //select
								//display: inline-block;
                                width: 75px;
                                height: 11px;
                                line-height: 11px;
                                border: 0;
                                vertical-align: top;
                                font-size: 9px;
                                //letter-spacing: -1px;
                                //margin-left: -2px;
							}

						}
					}
				}
				.corneum, .level{
					td:nth-child(3), td:nth-child(4){
						& :nth-child(1)	{
							width: 80px;
							font-size: 1em;
							border:0;
							height: 24px;
							line-height: 24px;
						}
					}
				}

			}

			.title{
				width: 100%;
				padding: 0 10px;
				//text-align: center;
				line-height: 21px;
				height: 21px;
				border: 1px solid #666;
				vertical-align: middle;
				font-size: 0.857em;
			}

			form{
				margin-top: 2px;

				input[type="checkbox"] {
                        width: 20px;
                        height: 20px;
                        vertical-align: sub;
                        margin-right: 15px;
                        display: none;
                    }
                    input[type="checkbox"]+label {
                        color: #333;
                        height: 25px;
                        line-height: 25px;
                        margin-right: 10px;
                    }

                    input[type="checkbox"]+label span {
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        margin: -2px 10px 0 0;
                        vertical-align: middle; //background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
                        cursor: pointer;
                        border: 1px solid #333;
                    }

                    input[type="checkbox"]:checked+label span {
                        background: url('../img/check.png') 0 0 no-repeat;
                        background-size: 13px;
                    }
			}
		}

		.B{
			width: 842px;
			height: 50px;
			padding: 0 15px 15px;

			.title{
				width: 178px;
				padding: 0 14px;
				text-align: center;
				line-height: 30px;
				height: 30px;
				border: 1px solid #666;
				vertical-align: middle;
			}

			form{
				height: 30px;
				line-height: 30px;

				input{
					margin: 0 10px 0 15px;
					width: 20px;
					height: 20px;
					vertical-align: bottom;
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}
}






